<button type="button" class="btn btn-primary bg-gradient btn-sm my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    {{ title }}
  </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="formFile" class="form-label">{{ title }}</label>
            <input (change)="selectFile($event)" class="form-control" type="file" id="formFile">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button (click)="uploadFile()" [disabled]="!file" type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ title }}</button>
        </div>
      </div>
    </div>
  </div>
